@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.input-box {
    position: relative;
}

.input-box input {
    border-bottom: 2px solid #999999;
    padding-left: 25px;
}

.input-box input:focus {
    outline: none;
    border-color: #000842;
}

.input-box .icon {
    position: absolute;
}

input::placeholder {
    color: #000842;
}